In [ ]:
import pandas as pd
import numpy as np
import wrds
from fredapi import Fred

In [60]:
conn = wrds.Connection(wrds_username="nberzins")

Loading library list...
Done

In [61]:
conn.describe_table(library= "ff", table='fivefactors_daily')

Approximately 14836 rows in ff.fivefactors_daily.

,name,nullable,type,comment
0,date,True,DATE,Date
1,mktrf,True,"NUMERIC(8, 6)",Excess Return on the Market
2,smb,True,"NUMERIC(8, 6)",Small-Minus-Big Return
3,hml,True,"NUMERIC(8, 6)",High-Minus-Low Return
4,rmw,True,"NUMERIC(8, 6)",Robust Minus Weak Return
5,cma,True,"NUMERIC(8, 6)",Conservative Minus Aggressive Return
6,rf,True,"NUMERIC(7, 5)",Risk-Free Return Rate (One Month Treasury Bill...
7,umd,True,"NUMERIC(8, 6)",Momentum

In [19]:
# sp500 = conn.raw_sql("""
#                         SELECT a.*, b.date, b.ret
#                         FROM crsp.dsp500list as a, crsp.dsf as b
#                         WHERE a.permno=b.permno
#                             AND b.date >= a.start and b.date <= a.ending
#                             AND b.date >= '01/01/2000'
#                         ORDER BY date; 
#                         """, date_cols=['start', 'ending', 'date'])

In [18]:
# dse = conn.raw_sql("""
#                         SELECT comnam, namedt, nameendt,
#                         permno, shrcd, exchcd
#                         FROM crsp.dsenames
#                         """, date_cols=['namedt', 'nameendt'])

In [69]:
fama_five = conn.raw_sql("""
                            SELECT *
                            FROM ff.fivefactors_daily as ff
                            WHERE ff.date >= '01/01/2000'
                            """)

fama_five["date"] = pd.to_datetime(fama_five["date"], format='%Y-%m-%d')

fama_five.tail(5)

           date   mktrf     smb     hml     rmw     cma       rf     umd
6284 2024-12-24  0.0111 -0.0012 -0.0005 -0.0013 -0.0037  0.00017  0.0067
6285 2024-12-26  0.0002  0.0109 -0.0019 -0.0044  0.0035  0.00017  0.0001
6286 2024-12-27 -0.0117 -0.0044  0.0056  0.0041  0.0003  0.00017 -0.0088
6287 2024-12-30 -0.0109  0.0024  0.0074  0.0055  0.0014  0.00017  0.0006
6288 2024-12-31 -0.0046  0.0031  0.0071  0.0033     0.0  0.00017 -0.0107

In [97]:
fred_api_key = "62ce35723dc6bc5a66d7276925744d91"

fred = Fred(api_key = fred_api_key)
fed_funds = fred.get_series('FEDFUNDS', observation_start='2000-01-01')

In [98]:
ffer_df = fed_funds.to_frame(name="fed_funds_rate").reset_index()

ffer_df.describe()
ffer_df = ffer_df.rename(columns={"index": "date", "fed_funds_rate": "fed_funds_rate"})

ffer_df["date"] = pd.to_datetime(ffer_df["date"], format="%Y-%d-%m")
ffer_df["date"] = ffer_df["date"].dt.strftime('%Y-%m-%d')

ffer_df.head(35)

                               index  fed_funds_rate
count                            304      304.000000
mean   2012-08-15 23:22:06.315789568        1.951316
min              2000-01-01 00:00:00        0.050000
25%              2006-04-23 12:00:00        0.140000
50%              2012-08-16 12:00:00        1.240000
75%              2018-12-08 18:00:00        3.772500
max              2025-04-01 00:00:00        6.540000
std                              NaN        2.027634

In [16]:
# sp500_full = pd.merge(sp500, dse, how='left', on='permno')

# sp500_full = sp500_full.loc[(sp500_full.date>=sp500_full.namedt) \
#                             & (sp500_full.date<=sp500_full.nameendt)]

# sp500_full.head()

In [46]:
# sp500_full.to_csv("sp500_full.csv", index = False)

sp500_full = pd.read_csv("sp500_full.csv")

In [47]:
#sp500_full = sp500_full[sp500_full["start"]]

sp500_full[sp500_full["comnam"].isin(['GENERAL ELECTRIC CO'])]

,permno,start,ending,date,ret,comnam,namedt,nameendt,shrcd,exchcd
114,12060,1957-03-01,2024-12-31,2000-01-03,-0.030695,GENERAL ELECTRIC CO,1968-01-02,2000-02-29,11,1
667,12060,1957-03-01,2024-12-31,2000-01-04,-0.038750,GENERAL ELECTRIC CO,1968-01-02,2000-02-29,11,1
1278,12060,1957-03-01,2024-12-31,2000-01-05,-0.005202,GENERAL ELECTRIC CO,1968-01-02,2000-02-29,11,1
1949,12060,1957-03-01,2024-12-31,2000-01-06,0.015577,GENERAL ELECTRIC CO,1968-01-02,2000-02-29,11,1
2327,12060,1957-03-01,2024-12-31,2000-01-07,0.038721,GENERAL ELECTRIC CO,1968-01-02,2000-02-29,11,1
...,...,...,...,...,...,...,...,...,...,...
3153152,12060,1957-03-01,2024-12-31,2024-12-24,0.014614,GENERAL ELECTRIC CO,2024-04-02,2024-12-31,11,1
3153733,12060,1957-03-01,2024-12-31,2024-12-26,0.003849,GENERAL ELECTRIC CO,2024-04-02,2024-12-31,11,1
3153811,12060,1957-03-01,2024-12-31,2024-12-27,-0.010398,GENERAL ELECTRIC CO,2024-04-02,2024-12-31,11,1
3154521,12060,1957-03-01,2024-12-31,2024-12-30,-0.011642,GENERAL ELECTRIC CO,2024-04-02,2024-12-31,11,1
3155284,12060,1957-03-01,2024-12-31,2024-12-31,-0.007793,GENERAL ELECTRIC CO,2024-04-02,2024-12-31,11,1

In [48]:
# Date str --> Datetime conversion + ret --> log returns conversion

sp500_full["date"] = pd.to_datetime(sp500_full["date"], format='%Y-%m-%d')

sp500_full["ret"] = np.log(sp500_full["ret"] + 1)

sp500_full["ret"].sample(5)

204677     0.000000
3010219    0.002399
2265639   -0.000458
2325590   -0.002727
1007139   -0.017527
Name: ret, dtype: float64

In [49]:
sp500_dly = {
    name: group[["date", "ret"]].reset_index(drop=True)
    for name, group in sp500_full.groupby("comnam")
}

# sp500_dict["GENERAL ELECTRIC CO"]

In [54]:
sp500_wkly = {}

for name, df in sp500_dly.items():
    df = df.copy()
    df["date"] = pd.to_datetime(df["date"]) # double checking date time conversion
    df.set_index("date", inplace=True)

    weekly_df = df.resample("W-MON", label="left", closed="left")["ret"].sum().reset_index()

    sp500_wkly[name] = weekly_df

# sp500_wkly.items()

In [57]:
sp500_monthly = {}

for name, df in sp500_dly.items():
    df = df.copy()
    df["date"] = pd.to_datetime(df["date"]) # double checking date time conversion
    df.set_index("date", inplace=True)

    monthly_df = df.resample("MS", label="left", closed="left")["ret"].sum().reset_index()

    sp500_monthly[name] = monthly_df

# sp500_monthly.items()

dict_items([('3COM CORP',         date       ret
0 2000-01-01  0.076764
1 2000-02-01  0.658057
2 2000-03-01 -0.566334
3 2000-04-01 -0.343915
4 2000-05-01  0.058478
5 2000-06-01  0.320763
6 2000-07-01  0.113677), ('3M CO',           date       ret
0   2002-04-01  0.031245
1   2002-05-01  0.001904
2   2002-06-01 -0.019563
3   2002-07-01  0.022747
4   2002-08-01 -0.002218
..         ...       ...
268 2024-08-01  0.059764
269 2024-09-01  0.014814
270 2024-10-01 -0.062093
271 2024-11-01  0.044011
272 2024-12-01 -0.033818

[273 rows x 2 columns]), ('A D C TELECOMMUNICATIONS INC',          date       ret
0  2000-01-01 -0.095739
1  2000-02-01  0.308322
2  2000-03-01  0.182785
3  2000-04-01  0.120101
4  2000-05-01  0.100721
..        ...       ...
85 2007-02-01  0.017200
86 2007-03-01  0.019302
87 2007-04-01  0.094549
88 2007-05-01 -0.093951
89 2007-06-01  0.090140

[90 rows x 2 columns]), ('A D T CORP',          date       ret
0  2012-10-01  0.107744
1  2012-11-01  0.100532
2  2012-12-01  0.015616
3  2013-01-01  0.024151
4  2013-02-01  0.008178
5  2013-03-01  0.021687
6  2013-04-01 -0.111774
7  2013-05-01 -0.072452
8  2013-06-01 -0.018398
9  2013-07-01  0.008787
10 2013-08-01 -0.006258
11 2013-09-01  0.020624
12 2013-10-01  0.067513
13 2013-11-01 -0.066986
14 2013-12-01 -0.002223
15 2014-01-01 -0.292799
16 2014-02-01  0.022057
17 2014-03-01 -0.025056
18 2014-04-01  0.016491
19 2014-05-01  0.062801
20 2014-06-01  0.081666
21 2014-07-01  0.002006
22 2014-08-01  0.057510
23 2014-09-01 -0.038723
24 2014-10-01  0.016507
25 2014-11-01 -0.025434
26 2014-12-01  0.036253
27 2015-01-01 -0.045639
28 2015-02-01  0.131131
29 2015-03-01  0.056988
30 2015-04-01 -0.093965
31 2015-05-01 -0.030240
32 2015-06-01 -0.083131
33 2015-07-01  0.034744
34 2015-08-01 -0.052011
35 2015-09-01 -0.091958
36 2015-10-01  0.106093
37 2015-11-01  0.070969
38 2015-12-01 -0.072786
39 2016-01-01 -0.101202
40 2016-02-01  0.310987
41 2016-03-01  0.021809
42 2016-04-01  0.017299), ('A E S CORP',           date       ret
0   2000-01-01  0.069440
1   2000-02-01  0.044992
2   2000-03-01 -0.062300
3   2000-04-01  0.132837
4   2000-05-01 -0.030336
..         ...       ...
295 2024-08-01 -0.028220
296 2024-09-01  0.157897
297 2024-10-01 -0.195974
298 2024-11-01 -0.223075
299 2024-12-01 -0.013123

[300 rows x 2 columns]), ('A G L RESOURCES INC',          date       ret
0  2011-12-01  0.060980
1  2012-01-01 -0.017909
2  2012-02-01 -0.031486
3  2012-03-01 -0.016436
4  2012-04-01  0.005340
5  2012-05-01 -0.038573
6  2012-06-01  0.033326
7  2012-07-01  0.044173
8  2012-08-01 -0.009806
9  2012-09-01  0.031284
10 2012-10-01 -0.001957
11 2012-11-01 -0.034138
12 2012-12-01  0.025079
13 2013-01-01  0.044766
14 2013-02-01 -0.033397
15 2013-03-01  0.048599
16 2013-04-01  0.044296
17 2013-05-01 -0.024508
18 2013-06-01  0.012442
19 2013-07-01  0.066126
20 2013-08-01 -0.030738
21 2013-09-01  0.046242
22 2013-10-01  0.038988
23 2013-11-01 -0.018119
24 2013-12-01  0.014718
25 2014-01-01  0.011578
26 2014-02-01 -0.004890
27 2014-03-01  0.040005
28 2014-04-01  0.097979
29 2014-05-01 -0.002318
30 2014-06-01  0.030444
31 2014-07-01 -0.063581
32 2014-08-01  0.041337
33 2014-09-01 -0.037652
34 2014-10-01  0.048844
35 2014-11-01 -0.020772
36 2014-12-01  0.041196
37 2015-01-01  0.033728
38 2015-02-01 -0.128440
39 2015-03-01  0.010936
40 2015-04-01  0.012409
41 2015-05-01  0.012406
42 2015-06-01 -0.078653
43 2015-07-01  0.032123
44 2015-08-01  0.248142
45 2015-09-01  0.000823
46 2015-10-01  0.023639
47 2015-11-01  0.009282
48 2015-12-01  0.019623
49 2016-01-01 -0.003928
50 2016-02-01  0.025185
51 2016-03-01  0.007550
52 2016-04-01  0.010992
53 2016-05-01  0.007113
54 2016-06-01  0.002578), ('A K STEEL HOLDING CORP',          date       ret
0  2008-07-01 -0.083066
1  2008-08-01 -0.187191
2  2008-09-01 -0.707893
3  2008-10-01 -0.621686
4  2008-11-01 -0.562551
5  2008-12-01  0.167834
6  2009-01-01 -0.144009
7  2009-02-01 -0.261139
8  2009-03-01  0.141591
9  2009-04-01  0.602810
10 2009-05-01  0.098915
11 2009-06-01  0.294129
12 2009-07-01  0.024705
13 2009-08-01  0.034937
14 2009-09-01 -0.029466
15 2009-10-01 -0.217711
16 2009-11-01  0.234170
17 2009-12-01  0.065317
18 2010-01-01 -0.048462
19 2010-02-01  0.059295
20 2010-03-01  0.059940
21 2010-04-01 -0.310991
22 2010-05-01 -0.109935
23 2010-06-01 -0.227164
24 2010-07-01  0.160124
25 2010-08-01 -0.089861
26 2010-09-01  0.080649
27 2010-10-01 -0.092491
28 2010-11-01  0.057126
29 2010-12-01  0.209191
30 2011-01-01 -0.029132
31 2011-02-01  0.008235
32 2011-03-01 -0.012596
33 2011-04-01  0.029350
34 2011-05-01 -0.056821
35 2011-06-01  0.029623
36 2011-07-01 -0.260145
37 2011-08-01 -0.295706
38 2011-09-01 -0.318177
39 2011-10-01  0.241927
40 2011-11-01  0.021318
41 2011-12-01 -0.117784), ('A M R CORP DEL',          date       ret
0  2000-01-01 -0.219188
1  2000-02-01 -0.017575
2  2000-03-01  0.285025
3  2000-04-01  0.066375
4  2000-05-01 -0.178292
5  2000-06-01 -0.075121
6  2000-07-01  0.223616
7  2000-08-01 -0.007590
8  2000-09-01 -0.003818
9  2000-10-01  0.001909
10 2000-11-01  0.020774
11 2000-12-01  0.158679
12 2001-01-01 -0.002491
13 2001-02-01 -0.161813
14 2001-03-01  0.054717
15 2001-04-01  0.081705
16 2001-05-01  0.022827
17 2001-06-01 -0.076182
18 2001-07-01 -0.027500
19 2001-08-01 -0.094200
20 2001-09-01 -0.513642
21 2001-10-01 -0.050359
22 2001-11-01  0.160101
23 2001-12-01  0.043066
24 2002-01-01  0.111888
25 2002-02-01  0.045463
26 2002-03-01  0.011807
27 2002-04-01 -0.207087
28 2002-05-01 -0.024518
29 2002-06-01 -0.217195
30 2002-07-01 -0.410817
31 2002-08-01 -0.092721
32 2002-09-01 -0.891098
33 2002-10-01  0.121498
34 2002-11-01  0.495884
35 2002-12-01 -0.160624
36 2003-01-01 -0.822358
37 2003-02-01 -0.214561
38 2003-03-01 -0.444687), ('A O L TIME WARNER INC',          date       ret
0  2001-01-01  0.106929
1  2001-02-01 -0.177087
2  2001-03-01 -0.092249
3  2001-04-01  0.229349
4  2001-05-01  0.032919
5  2001-06-01  0.015400
6  2001-07-01 -0.153679
7  2001-08-01 -0.196279
8  2001-09-01 -0.120799
9  2001-10-01 -0.062329
10 2001-11-01  0.115280
11 2001-12-01 -0.083630
12 2002-01-01 -0.198906
13 2002-02-01 -0.059107
14 2002-03-01 -0.047479
15 2002-04-01 -0.217873
16 2002-05-01 -0.016970
17 2002-06-01 -0.239996
18 2002-07-01 -0.246180
19 2002-08-01  0.095309
20 2002-09-01 -0.078069
21 2002-10-01  0.231654
22 2002-11-01  0.104207
23 2002-12-01 -0.222839
24 2003-01-01 -0.116447
25 2003-02-01 -0.029593
26 2003-03-01 -0.041486
27 2003-04-01  0.230848
28 2003-05-01  0.106677
29 2003-06-01  0.055589
30 2003-07-01 -0.041885
31 2003-08-01  0.058526
32 2003-09-01 -0.079483
33 2003-10-01  0.037665), ('A P A CORP',          date       ret
0  2021-03-01 -0.086640
1  2021-04-01  0.112390
2  2021-05-01  0.039220
3  2021-06-01  0.039127
4  2021-07-01 -0.141531
5  2021-08-01  0.038193
6  2021-09-01  0.095403
7  2021-10-01  0.203662
8  2021-11-01 -0.016928
9  2021-12-01  0.042543
10 2022-01-01  0.215090
11 2022-02-01  0.070335
12 2022-03-01  0.148400
13 2022-04-01 -0.006768
14 2022-05-01  0.138498
15 2022-06-01 -0.297874
16 2022-07-01  0.066764
17 2022-08-01  0.050875
18 2022-09-01 -0.134445
19 2022-10-01  0.290902
20 2022-11-01  0.030120
21 2022-12-01 -0.003636
22 2023-01-01 -0.046124
23 2023-02-01 -0.144126
24 2023-03-01 -0.062352
25 2023-04-01  0.028281
26 2023-05-01 -0.148019
27 2023-06-01  0.072511
28 2023-07-01  0.176271
29 2023-08-01  0.079493
30 2023-09-01 -0.064536
31 2023-10-01 -0.028242
32 2023-11-01 -0.098334
33 2023-12-01 -0.003338
34 2024-01-01 -0.127404
35 2024-02-01 -0.050405
36 2024-03-01  0.143302
37 2024-04-01 -0.081701
38 2024-05-01 -0.029370
39 2024-06-01 -0.036356
40 2024-07-01  0.065704
41 2024-08-01 -0.090547
42 2024-09-01 -0.152514
43 2024-10-01 -0.025913
44 2024-11-01 -0.041088
45 2024-12-01  0.019239), ('A T & T CORP',          date       ret
0  2000-01-01  0.037420
1  2000-02-01 -0.066117
2  2000-03-01  0.135117
3  2000-04-01 -0.188781
4  2000-05-01 -0.295759
..        ...       ...
66 2005-07-01  0.051620
67 2005-08-01 -0.006078
68 2005-09-01  0.006082
69 2005-10-01  0.011264
70 2005-11-01  0.028410

[71 rows x 2 columns]), ('A T & T INC',           date       ret
0   2005-11-01  0.021507
1   2005-12-01 -0.017004
2   2006-01-01  0.071156
3   2006-02-01  0.061280
4   2006-03-01 -0.020137
..         ...       ...
225 2024-08-01  0.033209
226 2024-09-01  0.100320
227 2024-10-01  0.037240
228 2024-11-01  0.027134
229 2024-12-01 -0.016982

[230 rows x 2 columns]), ('A T & T WIRELESS SVCS INC',          date           ret
0  2001-07-01  1.209998e-01
1  2001-08-01 -1.871492e-01
2  2001-09-01 -3.679839e-02
3  2001-10-01 -3.404079e-02
4  2001-11-01 -3.308903e-02
5  2001-12-01  2.823040e-02
6  2002-01-01 -2.227960e-01
7  2002-02-01 -1.308045e-01
8  2002-03-01 -1.198899e-01
9  2002-04-01  7.742120e-07
10 2002-05-01 -9.855622e-02
11 2002-06-01 -3.266563e-01
12 2002-07-01 -2.210085e-01
13 2002-08-01  5.193198e-02
14 2002-09-01 -1.815118e-01
15 2002-10-01  5.113112e-01
16 2002-11-01  9.438441e-02
17 2002-12-01 -2.898892e-01
18 2003-01-01  7.170319e-02
19 2003-02-01 -2.671138e-02
20 2003-03-01  1.104244e-01
21 2003-04-01 -2.143881e-02
22 2003-05-01  1.846419e-01
23 2003-06-01  5.508351e-02
24 2003-07-01  3.823615e-02
25 2003-08-01  1.049435e-02
26 2003-09-01 -5.239380e-02
27 2003-10-01 -1.206919e-01
28 2003-11-01  3.389643e-02
29 2003-12-01  6.328805e-02
30 2004-01-01  3.242411e-01
31 2004-02-01  2.061693e-01
32 2004-03-01  2.205676e-03
33 2004-04-01  1.458700e-02
34 2004-05-01  2.502811e-02
35 2004-06-01  1.123584e-02
36 2004-07-01  8.345275e-03
37 2004-08-01  1.239066e-02
38 2004-09-01  1.088474e-02
39 2004-10-01  1.344139e-02), ('ABBOTT LABORATORIES',           date       ret
0   2000-01-01 -0.104020
1   2000-02-01  0.013345
2   2000-03-01  0.064183
3   2000-04-01  0.093128
4   2000-05-01  0.056886
..         ...       ...
295 2024-08-01  0.066903
296 2024-09-01  0.006513
297 2024-10-01 -0.000902
298 2024-11-01  0.046533
299 2024-12-01 -0.048829

[300 rows x 2 columns]), ('ABBVIE INC',           date       ret
0   2013-01-01  0.055480
1   2013-02-01  0.006249
2   2013-03-01  0.099440
3   2013-04-01  0.130753
4   2013-05-01 -0.075762
..         ...       ...
139 2024-08-01  0.057611
140 2024-09-01  0.005942
141 2024-10-01  0.039892
142 2024-11-01 -0.108377
143 2024-12-01 -0.029006

[144 rows x 2 columns]), ('ABERCROMBIE & FITCH CO',          date       ret
0  2007-03-01 -0.006717
1  2007-04-01  0.076050
2  2007-05-01  0.012050
3  2007-06-01 -0.122278
4  2007-07-01 -0.043119
..        ...       ...
77 2013-08-01 -0.339707
78 2013-09-01  0.001698
79 2013-10-01  0.057942
80 2013-11-01 -0.083446
81 2013-12-01 -0.040786

[82 rows x 2 columns]), ('ABIOMED INC',          date       ret
0  2018-05-01 -0.019306
1  2018-06-01  0.070671
2  2018-07-01 -0.143043
3  2018-08-01  0.136988
4  2018-09-01  0.100911
5  2018-10-01 -0.276222
6  2018-11-01 -0.025287
7  2018-12-01 -0.023232
8  2019-01-01  0.077038
9  2019-02-01 -0.048350
10 2019-03-01 -0.158078
11 2019-04-01 -0.029059
12 2019-05-01 -0.057459
13 2019-06-01 -0.005476
14 2019-07-01  0.067067
15 2019-08-01 -0.366581
16 2019-09-01 -0.081887
17 2019-10-01  0.154352
18 2019-11-01 -0.056483
19 2019-12-01 -0.139773
20 2020-01-01  0.088044
21 2020-02-01 -0.214937
22 2020-03-01 -0.034530
23 2020-04-01  0.275744
24 2020-05-01  0.157618
25 2020-06-01  0.075917
26 2020-07-01  0.216464
27 2020-08-01  0.025283
28 2020-09-01 -0.104630
29 2020-10-01 -0.095281
30 2020-11-01  0.084540
31 2020-12-01  0.167866
32 2021-01-01  0.071560
33 2021-02-01 -0.070482
34 2021-03-01 -0.018092
35 2021-04-01  0.006257
36 2021-05-01 -0.119584
37 2021-06-01  0.092341
38 2021-07-01  0.047032
39 2021-08-01  0.106658
40 2021-09-01 -0.111621
41 2021-10-01  0.019831
42 2021-11-01 -0.053381
43 2021-12-01  0.131922
44 2022-01-01 -0.193874
45 2022-02-01  0.049036
46 2022-03-01  0.063888
47 2022-04-01 -0.144826
48 2022-05-01 -0.083206
49 2022-06-01 -0.063360
50 2022-07-01  0.168756
51 2022-08-01 -0.122300
52 2022-09-01 -0.053959
53 2022-10-01  0.025799
54 2022-11-01  0.404589
55 2022-12-01  0.008514), ('ACCENTURE PLC IRELAND',           date       ret
0   2011-07-01 -0.043188
1   2011-08-01 -0.098547
2   2011-09-01 -0.017128
3   2011-10-01  0.146121
4   2011-11-01 -0.039433
..         ...       ...
157 2024-08-01  0.033696
158 2024-09-01  0.033162
159 2024-10-01 -0.020715
160 2024-11-01  0.049641
161 2024-12-01 -0.029632

[162 rows x 2 columns]), ('ACE LTD',          date       ret
0  2002-01-01  0.010349
1  2002-02-01  0.122206
2  2002-03-01 -0.047696
3  2002-04-01  0.042720
4  2002-05-01 -0.229080
..        ...       ...
74 2008-03-01 -0.016309
75 2008-04-01  0.090742
76 2008-05-01 -0.003655
77 2008-06-01 -0.081352
78 2008-07-01 -0.117149

[79 rows x 2 columns]), ('ACE LTD NEW',          date       ret
0  2010-07-01 -0.032924
1  2010-08-01  0.007320
2  2010-09-01  0.091320
3  2010-10-01  0.019886
4  2010-11-01 -0.015260
..        ...       ...
62 2015-09-01  0.018684
63 2015-10-01  0.093553
64 2015-11-01  0.011473
65 2015-12-01  0.022855
66 2016-01-01 -0.051180

[67 rows x 2 columns]), ('ACTAVIS INC',         date       ret
0 2013-01-01  0.007669
1 2013-02-01 -0.014340
2 2013-03-01  0.078450
3 2013-04-01  0.137906
4 2013-05-01  0.153649
5 2013-06-01  0.023488
6 2013-07-01  0.061827
7 2013-08-01  0.006753
8 2013-09-01  0.063206), ('ACTAVIS PLC',          date       ret
0  2013-10-01  0.070899
1  2013-11-01  0.053469
2  2013-12-01  0.029786
3  2014-01-01  0.117677
4  2014-02-01  0.155704
5  2014-03-01 -0.070200
6  2014-04-01 -0.007411
7  2014-05-01  0.034679
8  2014-06-01  0.052981
9  2014-07-01 -0.040209
10 2014-08-01  0.057671
11 2014-09-01  0.061096
12 2014-10-01  0.006035
13 2014-11-01  0.108689
14 2014-12-01 -0.050009
15 2015-01-01  0.034855
16 2015-02-01  0.089034
17 2015-03-01  0.021257
18 2015-04-01 -0.050864
19 2015-05-01  0.081278
20 2015-06-01 -0.025851), ('ACTIVISION BLIZZARD INC',          date       ret
0  2015-08-01 -0.020399
1  2015-09-01  0.075977
2  2015-10-01  0.118035
3  2015-11-01  0.080131
4  2015-12-01  0.027501
..        ...       ...
94 2023-06-01  0.049861
95 2023-07-01  0.095636
96 2023-08-01  0.002381
97 2023-09-01  0.017672
98 2023-10-01  0.008403

[99 rows x 2 columns]), ('ACUITY BRANDS INC',          date       ret
0  2016-05-01  0.054950
1  2016-06-01 -0.043715
2  2016-07-01  0.057209
3  2016-08-01  0.047223
4  2016-09-01 -0.038989
5  2016-10-01 -0.167972
6  2016-11-01  0.117363
7  2016-12-01 -0.085274
8  2017-01-01 -0.107352
9  2017-02-01  0.019451
10 2017-03-01 -0.035161
11 2017-04-01 -0.146325
12 2017-05-01 -0.077854
13 2017-06-01  0.221388
14 2017-07-01 -0.002469
15 2017-08-01 -0.136519
16 2017-09-01 -0.031663
17 2017-10-01 -0.023315
18 2017-11-01  0.024928
19 2017-12-01  0.026370
20 2018-01-01 -0.129882
21 2018-02-01 -0.079904
22 2018-03-01 -0.024065
23 2018-04-01 -0.149270
24 2018-05-01 -0.012772
25 2018-06-01  0.032940), ('ADAPTEC INC',          date       ret
0  2000-01-01  0.048911
1  2000-02-01 -0.244856
2  2000-03-01 -0.059672
3  2000-04-01 -0.358063
4  2000-05-01 -0.315852
5  2000-06-01  0.144579
6  2000-07-01  0.084261
7  2000-08-01 -0.010153
8  2000-09-01 -0.202940
9  2000-10-01 -0.234930
10 2000-11-01 -0.368603
11 2000-12-01 -0.064918
12 2001-01-01  0.355453
13 2001-02-01 -0.290534
14 2001-03-01 -0.232110
15 2001-04-01  0.259392
16 2001-05-01 -0.063353), ('ADIENT PLC',         date  ret
0 2016-10-01  0.0), ('ADOBE INC',          date       ret
0  2018-10-01 -0.035693
1  2018-11-01  0.020657
2  2018-12-01 -0.103419
3  2019-01-01  0.091104
4  2019-02-01  0.057551
..        ...       ...
70 2024-08-01  0.040431
71 2024-09-01 -0.103794
72 2024-10-01 -0.079771
73 2024-11-01  0.076195
74 2024-12-01 -0.148617

[75 rows x 2 columns]), ('ADOBE SYSTEMS INC',           date       ret
0   2000-01-01 -0.199948
1   2000-02-01  0.616504
2   2000-03-01  0.087604
3   2000-04-01  0.082934
4   2000-05-01 -0.071767
..         ...       ...
221 2018-06-01 -0.022185
222 2018-07-01  0.003561
223 2018-08-01  0.074141
224 2018-09-01  0.024147
225 2018-10-01 -0.058190

[226 rows x 2 columns]), ('ADVANCE AUTO PARTS INC',          date       ret
0  2015-07-01  0.085150
1  2015-08-01  0.005953
2  2015-09-01  0.078670
3  2015-10-01  0.045892
4  2015-11-01 -0.198342
..        ...       ...
93 2023-04-01  0.043822
94 2023-05-01 -0.543594
95 2023-06-01 -0.036181
96 2023-07-01  0.060082
97 2023-08-01 -0.091140

[98 rows x 2 columns]), ('ADVANCED MICRO DEVICES INC',           date       ret
0   2000-01-01  0.218380
1   2000-02-01  0.083245
2   2000-03-01  0.377383
3   2000-04-01  0.427492
4   2000-05-01 -0.071034
..         ...       ...
295 2024-08-01  0.027849
296 2024-09-01  0.099365
297 2024-10-01 -0.130054
298 2024-11-01 -0.049042
299 2024-12-01 -0.127206

[300 rows x 2 columns]), ('ADVANSIX INC',         date  ret
0 2016-10-01  0.0), ('AETNA INC',          date       ret
0  2000-01-01 -0.043387
1  2000-02-01 -0.258381
2  2000-03-01  0.299768
3  2000-04-01  0.045520
4  2000-05-01  0.142669
5  2000-06-01 -0.039146
6  2000-07-01 -0.141788
7  2000-08-01  0.007852
8  2000-09-01  0.037286
9  2000-10-01 -0.000868
10 2000-11-01  0.152140
11 2000-12-01  0.011999), ('AETNA INC NEW',           date       ret
0   2000-12-01  0.175950
1   2001-01-01 -0.071475
2   2001-02-01 -0.026506
3   2001-03-01 -0.035821
4   2001-04-01 -0.242326
..         ...       ...
211 2018-07-01  0.028962
212 2018-08-01  0.061155
213 2018-09-01  0.012802
214 2018-10-01 -0.019677
215 2018-11-01  0.069598

[216 rows x 2 columns]), ('AFFILIATED COMPUTER SERVICES INC',          date       ret
0  2004-04-01 -0.086840
1  2004-05-01  0.026854
2  2004-06-01  0.060743
3  2004-07-01 -0.019840
4  2004-08-01  0.045761
..        ...       ...
66 2009-10-01 -0.039155
67 2009-11-01  0.057989
68 2009-12-01  0.078204
69 2010-01-01  0.030201
70 2010-02-01 -0.031036

[71 rows x 2 columns]), ('AFFILIATED MANAGERS GROUP INC',          date       ret
0  2014-07-01 -0.030397
1  2014-08-01  0.058007
2  2014-09-01 -0.052451
3  2014-10-01 -0.002848
4  2014-11-01  0.018840
..        ...       ...
61 2019-08-01 -0.108876
62 2019-09-01  0.084059
63 2019-10-01 -0.042522
64 2019-11-01  0.070193
65 2019-12-01 -0.010244

[66 rows x 2 columns]), ('AFLAC INC',           date       ret
0   2000-01-01 -0.082806
1   2000-02-01 -0.170384
2   2000-03-01  0.220060
3   2000-04-01  0.068901
4   2000-05-01  0.058962
..         ...       ...
295 2024-08-01  0.150614
296 2024-09-01  0.012964
297 2024-10-01 -0.064753
298 2024-11-01  0.088767
299 2024-12-01 -0.097209

[300 rows x 2 columns]), ('AGILENT TECHNOLOGIES INC',           date       ret
0   2000-06-01 -0.099922
1   2000-07-01 -0.593228
2   2000-08-01  0.392083
3   2000-09-01 -0.208995
4   2000-10-01 -0.055132
..         ...       ...
290 2024-08-01  0.010691
291 2024-09-01  0.038165
292 2024-10-01 -0.128926
293 2024-11-01  0.057122
294 2024-12-01 -0.024818

[295 rows x 2 columns]), ('AIR PRODUCTS & CHEMICALS INC',           date       ret
0   2000-01-01 -0.124790
1   2000-02-01 -0.140185
2   2000-03-01  0.105516
3   2000-04-01  0.088292
4   2000-05-01  0.108576
..         ...       ...
295 2024-08-01  0.055293
296 2024-09-01  0.065548
297 2024-10-01  0.048114
298 2024-11-01  0.073847
299 2024-12-01 -0.142112

[300 rows x 2 columns]), ('AIRBNB INC',          date       ret
0  2023-09-01 -0.039582
1  2023-10-01 -0.148372
2  2023-11-01  0.065837
3  2023-12-01  0.074708
4  2024-01-01  0.057104
5  2024-02-01  0.088450
6  2024-03-01  0.046466
7  2024-04-01 -0.039509
8  2024-05-01 -0.089947
9  2024-06-01  0.045192
10 2024-07-01 -0.082951
11 2024-08-01 -0.173674
12 2024-09-01  0.077870
13 2024-10-01  0.061028
14 2024-11-01  0.009745
15 2024-12-01 -0.035140), ('AIRGAS INC',          date       ret
0  2009-09-01  0.055909
1  2009-10-01 -0.086544
2  2009-11-01  0.041723
3  2009-12-01  0.032562
4  2010-01-01 -0.118989
..        ...       ...
76 2016-01-01  0.012074
77 2016-02-01  0.010796
78 2016-03-01  0.005077
79 2016-04-01  0.005631
80 2016-05-01  0.003574

[81 rows x 2 columns]), ('AKAMAI TECHNOLOGIES INC',           date       ret
0   2007-07-01 -0.393218

In [ ]:
#Need to Build Different Retun-Based Factors from Returns 

#e.g. Momentum, Volatility from past 30 days, market portfolio, banking/construction (responsive to IR), IR itself,
# others can be extracxted from French Fama ---- Shoot for 10 - 15 predictors for first iteration

# *Maybe find sentiment indices*

In [ ]:
#For next week -----------------------------

# Convert to weekly + Monthly data, too much noise in daily 
# Many large positions flip before market close to avoid sitting overnight 

#Focus on predictors and run standard models in ord

In [ ]:
# Next iteration would be to just include a ton of different predictors,